# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.env

# Build
dist/
build/
.next/
out/

# Database
backend/data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
